{% extends 'base.html' %}

{% block content %}
<table>
    <thread>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thread>
    <tbody>
        {% for account in account_list %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account_list.filter|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
