{% extends 'base.html' %}

{% block content %}
<table>
    <thread>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thread>
    <tbody>
        {% for category in category_list %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category_list.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
